{% extends "coasters/base.html" %}
{% block title %}ACE Anniversaries{% endblock %}
{% block content %}
  <div class="container">
    <h2>Upcoming</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Park</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for coaster in upcoming %}
          <tr>
            <td>{{ coaster.title }}</td>
            <td>{{ coaster.park_string }}</td>
            <td>
              {% if coaster.date_opened %}
                {{ coaster.date_opened }}
              {% else %}
                {{ coaster.incomplete_date_opened }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}